<template name="Header">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ pathFor 'List_Blocklist_Page' }}">BlocklistTable Manager</a>
      </div>
      <ul class="nav navbar-nav">
        {{#if currentUser}}
        {{/if}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" class="right aligned item">{{> loginButtons align="right"}} </a></li>
      </ul>
    </div>
  </nav>
</template>